$baseColors: (
    red: hsl(4, 79%, 50%),
    pink: hsl(340, 71%, 50%),
    purple: hsl(291, 60%, 50%),
    deeppurple: hsl(262, 41%, 50%),
    indigo: hsl(231, 47%, 50%),
    blue: hsl(209, 79%, 50%),
    lightblue: hsl(199, 85%, 50%),
    cyan: hsl(187, 80%, 50%),
    teal: hsl(174, 73%, 50%),
    green: hsl(122, 48%, 50%),
    lightgreen: hsl(88, 40%, 50%),
    lime: hsl(66, 60%, 50%),
    yellow: hsl(54, 89%, 50%),
    amber: hsl(45, 89%, 50%),
    orange: hsl(36, 89%, 50%),
    deeporange: hsl(18, 89%, 50%),
    brown: hsl(16, 21%, 50%),
    grey: hsl(0, 0%, 50%),
    coldgrey: hsl(200, 13%, 50%),
    warmgrey: hsl(20, 6%, 50%),
    black: hsl(0, 0, 0%),
    white: hsl(0, 0, 100%)
);

@function colorMap($basecolors) {
    $colors: ();
    @each $key, $value in $basecolors {
        $swatch: ();
        $swatch: map-merge(
            $swatch,
            (
                $key: $value
            )
        );
        @for $i from 1 through 10 {
            $swatch: map-merge(
                $swatch,
                (
                    #{$key}-l-#{$i}: lighten($value, 5% * $i),
                    #{$key}-d-#{$i}: darken($value, 5% * $i)
                )
            );
        }
        $colors: map-merge($colors, $swatch);
    }
    @return $colors;
}
$custom-colors: colorMap($baseColors);
@function color($color) {
    @return map-get($custom-colors, $color);
}
